apiVersion: v1
data:
  <%_ const auth = image.auth _%>
  <%_ const authStr = Buffer.from(`${auth.user_name}:${auth.password}`).toString('base64') _%>
  .dockerconfigjson: <%= Buffer.from(JSON.stringify({auths:{[image.host]:{auth: authStr}}})).toString('base64') %> 
kind: Secret
metadata:
  name: img-cred
<%_ if (deploy?.namespace) { _%>
  namespace: <%- deploy.namespace %>
<%_ } _%>
type: kubernetes.io/dockerconfigjson
