apiVersion: v1
kind: Endpoints
metadata:
  name: cluster-coordinator
<%_ if (deploy?.namespace) { _%>
  namespace: <%- deploy.namespace %>
<%_ } _%>
subsets:
  - addresses:
      - ip: <%- coordinator.endpoint %>
    ports:
      - port: <%- coordinator.port %>
        name: http
        protocol: TCP
