apiVersion: v1
kind: Service
metadata:
  name: cluster-coordinator
<%_ if (deploy?.namespace) { _%>
  namespace: <%- deploy.namespace %>
<%_ } _%>
spec:
  ports:
  - protocol: TCP
    name: http
    port: 80
    targetPort: <%- coordinator.port %>
  type: ClusterIP

